.Register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    min-width: 300px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
    overflow: hidden;
    padding-bottom: 20px;
    background-color: white;
}

.authLink{
    margin-left: 20px;
}

.form{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header{
    margin: 0;
    background-color: rgb(255, 242, 126);
    padding-left: 20px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.submitDiv{
    margin-top: 20px;
}

.submitButton{
    padding: 8px;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(255, 242, 126);
    border: 0;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
    cursor: pointer;
}

.errorMessage{
    color: red;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 20px;
}