.tab{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subInterface{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.confirmButton{
    padding: 5px;
    background-color: rgba(62, 218, 62, 0.644);
    font-weight: 600;
}

.confirmButton:active{
    transform: translateY(4px);
}

.errorMessage, .confirmMessage{
    position: fixed;
    top: 150px;
    right: 100px;
    padding: 10px;
    background-color: white;
}

.errorMessage{
    background-color: rgb(255, 117, 117);
}

.toggleVisibilityButton{
    cursor: pointer;
    background-color: transparent;
}