.board{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20vw;
    min-width: 350px;
}

.addons{
    width: 15vw;
}

.addon{
    max-height: 30vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;
    background-color: white;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(216, 208, 208);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
}

.createPost{
    padding: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(216, 208, 208);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
    gap: 5px;
}

.profilePic{
    width: 30px;
    height: 30px;
    background-color: red;
}

.createPostButton{
    box-sizing: content-box;
    cursor: text;
    padding: 5px 10px 5px 10px;
    background-color: rgba(221, 219, 219, 0.301);
    text-decoration: none;
    color: rgb(155, 155, 155);
    width: 100%;
    border: 1px solid rgb(155, 155, 155);
}

.createPostButton:hover{
    border: 1px solid blue;
}


.posts{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.post{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    padding: 10px;
    background-color: white;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(216, 208, 208);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
}

.postLikes{
    align-self: flex-start;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 229, 173);
}

.link > *{
    word-break: break-word;
}

.link{
    text-decoration: none;
    color: black;
}

.postImage{
    max-width: 90%;
}

.postTitle{
    font-size: 1.4rem;
    font-weight: 600;
}

.loading{
    background-color: white;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(216, 208, 208);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
}

.searchResults{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.communityLink{
    padding: 10px;
    display: flex;
    flex-direction: row;
    color: black;
    text-decoration: none;
    width: 80%;
    text-align: center;
}

.numOfMembers{
    margin-left: auto;
}