.post{
    position: relative;
    width: 50vw;
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid rgb(216, 208, 208);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
    gap: 30px;
    margin-bottom: 100px;
}

.post > *{
    word-break: break-word;
}

.postInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editButton{
    padding: 5px;
    background-color: wheat;
    border: 1px solid rgb(216, 208, 208);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
}

.image{
    align-self: center;
    max-width: 80%;
}

.title{
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    margin-right: 100px;
}

.text{
    margin-right: 100px;
}

.addCommentButton{
    font-size: 1.2rem;
    font-weight: 600;
    background-color: wheat;
}

.likesInterface{
    position: absolute;
    right: 30px;
    top: 70px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.arrow{
    height: 50px;
    width: 50px;
    background-color: transparent;
}

.likes{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 229, 173);
}