.postCreator{
    width: 50vw;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    border: 1px solid rgb(216, 208, 208);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
    margin-bottom: 100px;
}

.postCreator > * {
    word-break: break-word;
}

.postElements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.postElement{
    cursor: pointer;
    font-size: 1.2rem;
    flex: 1 1 0px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(212, 212, 212);
}

.postElement:hover{
    background-color: rgb(255, 229, 173);
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
}

.previewText{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: white;
    border: 1px solid rgb(212, 212, 212);
}

.previewTitle{
    font-weight: 700;
    font-size: 1.4rem;
}

.previewSubtitle{
    font-weight: 600;
    font-size: 1.2rem;
}

.pollTitle{
    font-weight: 600;
    font-size: 1.1rem;
}

.previewImage{
    width: 100%;
}

.postButton{
    padding: 10px 40px;
    font-size: 2rem;
    align-self: center;
    cursor: pointer;
    background-color: rgb(255, 229, 173);
    border: none;
    box-shadow: 0 1px 5px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
}